*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1290px;
    margin: 0 auto;
    position: relative;
}



a{
    text-decoration: none;
    color: black;
}

/* Shop Navbar Start */ 

.navbar{
    padding: 26px 0px;  
}

.navbar .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1{
    color: rgb(81, 45, 243);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
    display: inline-block;
}

.navbar .logo span{
    color: rgb(118, 118, 118);
}

.navbar .list .list-content{
    display: flex;
    list-style-type: none;
    column-gap: 50px;
}

.navbar .list .list-content li{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.navbar .list .list-content li a{
    color: black;
    transition: .3s;
}

.navbar .list .list-content li a:hover{
    color: rgb(247, 0, 0);
}

.navbar .list .list-content li i{
    font-size: 16px;
    font-weight: 600;
}

.navbar .icon .icon-content{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.navbar .icon .icon-content li{
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icon .icon-content li:hover{
    color: rgb(247, 0, 0);
}

.navbar .icon .loginhover:hover .logincontent{
    display: block;
}

.navbar .icon .loginhover{
    display: inline-block;
}

.navbar .icon .logincontent{
    display: none;
    position: absolute;
    top: 38px;
    right: -50px;
    background-color: white;
    width: 300px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar .icon .logincontent button{
    background-color: black;
    color: white;
    padding: 14px 94px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 6px;
    margin: 28px 35px 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icon .logincontent button:hover{
    background-color: rgb(247, 0, 0);
}

.navbar .icon .logincontent p{
    color: rgb(0, 0, 0,0.5);
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.navbar .icon .logincontent a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-left: 114px;  
}

/* Shop Navbar End */ 
/* Shop Banner Start */ 

.banner{
    background-image: url(./images/sliderelectronic2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 600px;
}

.banner .banner-content{
    padding: 224px 40px;
}

.banner .banner-content h1{
    font-size: 72px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}

.banner .banner-content a{
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 120px;
    transition: .3s;
}

.banner .banner-content span{
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.48);
}

.banner .banner-content a:hover{
    color: rgb(247, 0, 0);
}

.banner .banner-content i{
    font-size: 16px;
}

/* Shop Banner End */ 
/* Shop Option Start */ 

.option{
    margin: 74px 0px 28px; 
}

.option .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option .filter{
    display: flex;
    align-items: center;
}

.option .filter a{
    background-color: transparent;
    color: black;
    padding: 6px 16px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.099);
    border-radius: 6px;
    transition: .3s;
}

.option .filter a:hover{
    border: 2px solid rgb(0, 0, 0);
}

.option .filter a i{
    font-size: 16px;
    margin-right: 6px;
}

.option .filter p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 32px;
}

.option .filter p i{
    color: rgba(0, 0, 0, 0.459);
    font-size: 18px;
    margin-right: 6px;
}

.option .sort label{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
}

.option .sort select{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.099);
    border-radius: 6px;
    transition: .3s;
}

.option .sort select:hover{
    border: 2px solid rgb(0, 0, 0);
}

/* Shop Option End */ 
/* Shop Catalog Start */ 

.catalog .box{
    display: flex;
    column-gap: 44px;
    flex-wrap: wrap;
    row-gap: 38px;
}

.catalog .item{ 
    width: 289px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.catalog .item-content{
    padding-top: 18px;
    padding-left: 24px;
    padding-bottom: 30px;
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.catalog .item-content h3{
    color: black;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 6px;
    transition: .2s;
}

.catalog .item-content h3:hover{
    color: rgb(247, 0, 0);
}

.catalog .item-content p{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.catalog .itemimg img{
    width: 100%;
    padding: 0px 0px;
}

.catalog .itemimg #img1{
    width: 95%;
    padding: 35px 0px 34px;
}


/* Shop Catalog End */ 

