*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1290px;
    margin: 0 auto;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar Start */ 

.navbar{
    background-color: rgb(74, 145, 238);
    padding: 26px 0px;
}

.navbar .logo h1{
    color: rgb(45, 243, 197);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
}

.navbar .logo span{
    color: rgb(255, 255, 255);
}

.navbar .searchbar .button1{
    background-color: #efefef;
    padding: 10px 18px 8px;
    width: 70px;
    font-size: 14px;
    font-weight: 600px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: 0px;
    left: 170px;   
}

.navbar .searchbar .button1:hover{
    background-color: #d4d4d4;
}

.navbar .searchbar .button1 i{
    padding-left: 32px;
    font-size: 12px;
}

.dropcontent{
    display: none;
    position: absolute;
    left: 170px;
    top: 39px;
    padding: 10px 0px;
    background-color: #ffffff;
    min-width: 160px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 1;
}

.dropdown:hover .dropcontent{
    display: block;
}

.dropcontent a{
  color: black;
  padding: 5px 18px;
  display: block;
  font-size: 16px;
  font-weight: 600px;
  font-family: "Poppins", sans-serif;
}

.dropcontent a:hover{
    background-color: #dedede;
}

.navbar .searchbar .button2{
    background-color: #181818;
    color: white;
    padding: 10px 20px 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: -1px;
    left: 700px;
    transition: .3s;
}

.navbar .searchbar .button2:hover{
    background-color: white;
    color: black;
}

.navbar .searchbar input{
    padding: 9px 20px;
    width: 400px;
    font-size: 14px;
    font-weight: 600px;
    font-family: "Poppins", sans-serif;
    border: none;
    position: absolute;
    top: 0px;
    left: 260px;
}

.navbar .hotline{
    position: absolute;
    top: 0px;
    right: 224px;
}

.navbar .hotline h3{
    color: white;
    font-size: 18px;
    font-weight: light 300;
    font-family: "Quicksand", sans-serif;
}

.navbar .hotline p{
    color: white;
    font-size: 14px;
    font-weight: 400px;
    font-family: "Quicksand", sans-serif;
}

.navbar .icons{
    position: absolute;
    top: 0;
    right: 0;
}

.navbar .icons i{
    color: white;
    font-size: x-large;
    padding: 10px 5px;
    cursor: pointer;
    transition: .2s;
}

.navbar .icons i:hover{
    color: rgb(247, 0, 0);
}

.navbar .icons .loginhover:hover .logincontent{
    display: block;
}

.navbar .icons .loginhover{
    display: inline-block;
}

.navbar .icons .logincontent{
    display: none;
    position: absolute;
    top: 44px;
    left: -120px;
    background-color: white;
    width: 300px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar .icons .logincontent button{
    background-color: black;
    color: white;
    padding: 14px 94px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 6px;
    margin: 28px 35px 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icons .logincontent button:hover{
    background-color: rgb(247, 0, 0);
}

.navbar .icons .logincontent p{
    color: rgb(0, 0, 0,0.5);
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.navbar .icons .logincontent a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-left: 114px;  
}

/* Navbar End */ 

/* Navbar End */ 

.banner{
    background-image: url(./images/sliderelectronic.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 600px;
}

.banner .banner-content{
    padding: 124px 0px;
    width: 510px;
}

.banner .banner-content h5{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgb(233, 81, 70);
}

.banner .banner-content h1{
    font-size: 72px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.banner .banner-content p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

.banner .banner-content a{
    background-color: #000000;
    color: white;
    padding: 16px 26px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    transition: .3s;
}

.banner .banner-content a:hover{
    background-color: white;
    color: black;
}

.banner .banner-content i{
    padding-left: 10px;
}

/* Banner End */ 

/* Deal Start */ 

.deal .deal-top{
    display: flex;
    padding: 40px 0px;
}

.deal .deal-top h1{
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.deal .deal-top .button-group{
    margin-left: 552px;
}

.deal .deal-top .button-group button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px 21px;
    border-radius: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: .2s;
}

.deal .deal-top .button-group button:hover{
    background-color: #FCEAEA;
    color: #E45497;
    border-color: #E45497;
}

.deal .deal-bottom{
    display: flex;
    column-gap: 20px;
}

.deal .deal-bottom .dealbox{
    background-color: #fbf6f600;
    width: 245px;
    height: 435px;
}

.deal .deal-bottom .dealbox .item{
    background-color: #e8e6e6fb;
    width: 245px;
    height: 310px;
    border-radius: 10px;
}

.deal .deal-bottom .dealbox .deal-content{
    background-color: #ffffff;
    width: 245px;
    height: 220px; 
}

.deal-content i{
    color: #F0A750;
    font-size: 15px;
    padding: 10px 0px;
}

.deal-content #gray{
    color: gainsboro;
}

.deal-content del{
    padding-right: 6px;
    color: #b7b7b7;
}

.deal-content p{
    display: inline-block;
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.deal-content span{
    color: #000000;
}

.deal-content #side{
    margin-left: 86px;
}

.deal-content h4{
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 32px;  
    cursor: pointer;
    transition: .3s;   
}

.deal-content h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;   
}

.deal-content h4:hover{
    color: red;
}
.item img{
    width: 100%;
    background-color: #e8e6e6;
    border-radius: 10px; 
}

/* Deal End */ 
/* Special Start */ 

.special{
    padding: 100px 0px;
}

.special .box{
    display: flex;
    column-gap: 36px;
}

.special .item{
    position: relative;
    background-color: #000000;
    width: 406px;
    height: 270px;
    border-radius: 11px;
}

.special .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
}

/* Special End */ 
/* Featured Start */ 

.featured .box{
    display: flex;
    column-gap: 36px;
}

.featured .products{
    width: 406px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.featured .products h2{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding-bottom: 2px;
}

.featured .products .item{
    width: 406px;
    display: flex;
    column-gap: 13px;
}

.featured .item img{
    width: 100%;
}

.featured .item .image{
    width: 27%;
    height: 146px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.featured .item p{
    position: absolute;
    top: 11px;
    left: 13px;
    background-color: #F03E3E;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;  
    padding: 2px 8px;
    border-radius: 20px;
}

.featured .item .content{
    width: 70%;
    border-radius: 10px;
    padding: 14px 0px;
    position: relative;
}

.featured .item .content h4{
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    color: #000000; 
    cursor: pointer; 
    transition: .3s;
}

.featured .item .content h4:hover{
    color: rgb(247, 0, 0);
}

.featured .item .content h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;   
}

.featured .item .content i{
    font-size: 15px;
    color: #F0A750;
    padding-top: 22px;
    padding-bottom: 9px;
}

.featured .item .content #gray{
    color: gainsboro;
}

.featured .item .content .shopicon{
    position: absolute;
    right: 10px;
    bottom: 20px;
    background-color: #f4f4f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Featured End */ 