*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1290px;
    margin: 0 auto;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* Shop Navbar Start */ 

.navbar{
    padding: 26px 0px;  
}

.navbar .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1{
    color: rgb(81, 45, 243);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
    display: inline-block;
}

.navbar .logo span{
    color: rgb(118, 118, 118);
}

.navbar .list .list-content{
    display: flex;
    list-style-type: none;
    column-gap: 50px;
}

.navbar .list .list-content li{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.navbar .list .list-content li a{
    color: black;
    transition: .3s;
}

.navbar .list .list-content li a:hover{
    color: rgb(247, 0, 0);
}

.navbar .list .list-content li i{
    font-size: 16px;
    font-weight: 600;
}

.navbar .icon .icon-content{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.navbar .icon .icon-content li{
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icon .icon-content li:hover{
    color: rgb(247, 0, 0);
}

.navbar .icon .loginhover:hover .logincontent{
    display: block;
}

.navbar .icon .loginhover{
    display: inline-block;
}

.navbar .icon .logincontent{
    display: none;
    position: absolute;
    top: 38px;
    right: -50px;
    background-color: white;
    width: 300px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar .icon .logincontent button{
    background-color: black;
    color: white;
    padding: 14px 94px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 6px;
    margin: 28px 35px 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icon .logincontent button:hover{
    background-color: rgb(247, 0, 0);
}

.navbar .icon .logincontent p{
    color: rgb(0, 0, 0,0.5);
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.navbar .icon .logincontent a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-left: 114px;  
}

/* Shop Navbar End */ 
/* Shop Banner Start */ 

.banner{
    background-image: url(./images/sliderelectronic2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 600px;
}

.banner .banner-content{
    padding: 224px 40px;
}

.banner .banner-content h1{
    font-size: 72px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}

.banner .banner-content a{
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 120px;
    transition: .3s;
}

.banner .banner-content span{
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.48);
}

.banner .banner-content a:hover{
    color: rgb(247, 0, 0);
}

.banner .banner-content i{
    font-size: 16px;
}

/* Shop Banner End */ 
/* Shop Option Start */ 

.option{
    margin: 74px 0px 28px; 
}

.option .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option .filter{
    display: flex;
    align-items: center;
}

.option .filter a{
    background-color: transparent;
    color: black;
    padding: 6px 16px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.099);
    border-radius: 6px;
    transition: .3s;
}

.option .filter a:hover{
    border: 2px solid rgb(0, 0, 0);
}

.option .filter a i{
    font-size: 16px;
    margin-right: 6px;
}

.option .filter p{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 32px;
}

.option .filter p i{
    color: rgba(0, 0, 0, 0.459);
    font-size: 18px;
    margin-right: 6px;
}

.option .sort label{
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
}

.option .sort select{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.099);
    border-radius: 6px;
    transition: .3s;
}

.option .sort select:hover{
    border: 2px solid rgb(0, 0, 0);
}

/* Shop Option End */ 
/* Shop Catalog Start */ 

.catalog .box{
    display: flex;
    column-gap: 44px;
    flex-wrap: wrap;
    row-gap: 38px;
}

.catalog .item{ 
    width: 289px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.catalog .item-content{
    padding-top: 18px;
    padding-left: 24px;
    padding-bottom: 30px;
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.catalog .item-content h3{
    color: black;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 6px;
    transition: .2s;
}

.catalog .item-content h3:hover{
    color: rgb(247, 0, 0);
}

.catalog .item-content i{
    padding: 4px 0px 6px;
    color: #F0A750;
    font-size: 15px;
}

.catalog .item-content p{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.catalog .item .itemimg{
    position: relative;
    overflow: hidden;
}

.catalog .item .itemimg .overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;   
    transition: .4s;
}

.catalog .item .itemimg:hover .overlay{
    top: 0;
}

.catalog .item .itemimg .overlayicon{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: absolute;
    top: 14px;
    right: 10px;
}

.catalog .item .itemimg .overlay a{
    background-color: white;
    padding: 12px 64px;
    border-radius: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 16px;
    left: 34px;
    transition: .3s;
}

.catalog .item .itemimg .overlay i{
    background-color: #f4f4f4;
    color: black;
    padding: 12px;
    font-size: 16px;
    border-radius: 50%;
    transition: .3s;
}

.catalog .item .itemimg .overlay a:hover{
    background-color: black;
    color: white;
}

.catalog .item .itemimg .overlay i:hover{
    background-color: black;
    color: white;
}

.catalog .itemimg img{
    width: 100%;
    padding: 0px 0px;
}

.catalog .itemimg #img1{
    width: 95%;
    padding: 35px 0px 34px;
}

.catalogbutton{
    padding: 48px 0px 66px;
    position: relative;
    
}

.catalogbutton .buttoncollection{
    margin: 0px 553px;
}

.catalogbutton a{
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(148, 148, 148, 0.459);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.catalogbutton a:hover{
    background-color: black;
    border-color: black;
    color: white;
}

.catalogbutton #angle{
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 14px;
}

/* Shop Catalog End */ 
/* Footer Start */ 

.footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.footer{
    width: 100%;
    padding: 64px 0px;
    position: relative;
}

.footer .box{
    display: flex;
    justify-content: space-between;  
}

.footer .content1{    
    width: 330px;
}

.footer .content2{     
    width: 180px;  
}

.footer .content3{      
    width: 220px; 
}

.footer .content4{
    width: 430px;   
}

.footer .content1 h2{
    color: rgb(81, 45, 243);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
    padding-bottom: 10px;
    display: inline-block;
}

.footer .content1 span{
    color: rgb(118, 118, 118);
}

.footer .content1 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
}

.footer .content1 a{
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 6px 0px 14px; 
    transition: .3s;
}

.footer .content1 a:hover{
    color: #F03E3E;
}

.footer .content1 #phone{
    padding-top: 8px;
    padding-bottom: 6px;
}

.footer .content1 i{
    margin-right: 10px;
    color: #000000;
}

.footer .content1 #arrow{
    margin-left: 4px;
    color: #000000;
}

.footer .content1 .social-icon i{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px 8px;
    font-size: 20px;
}

.footer .content2 h3{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}

.footer .content2 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
    transition: .2s;
}

.footer .content2 p:hover{
    color: rgb(247, 0, 0);
}

.footer .content3 h3{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;   
    padding-bottom: 10px;
}

.footer .content3 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
    transition: .2s;
}

.footer .content3 p:hover{
    color: rgb(247, 0, 0);
}

.footer .content4 h3{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}

.footer .content4 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
}

.footer .content4 label{
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
}

.footer .content4 label u{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    transition: .4s;
}

.footer .content4 label u:hover{
    color: rgb(247, 0, 0);
}

.footer .content4 .input{
   display: block;
   margin: 14px 0px;
}

.footer .content4 #email{
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 80%;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: transparent;
    color: #929292;
    border: 1px solid #929292;
}

.footer .content4 button{
  padding: 20px 18px;
  border-radius: 18px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 1px solid #000000;
  transition: .3s; 
} 

.footer .content4 button:hover{
  background-color: transparent;
  color: #000000;
} 

/* Footer End */

