*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1290px;
    margin: 0 auto;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar Start */ 

.navbar{
    background-color: rgb(74, 145, 238);
    padding: 26px 0px;
}

.navbar .logo h1{
    color: rgb(45, 243, 197);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
}

.navbar .logo span{
    color: rgb(255, 255, 255);
}

.navbar .searchbar .button1{
    background-color: #efefef;
    padding: 10px 18px 8px;
    width: 70px;
    font-size: 14px;
    font-weight: 600px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: 0px;
    left: 170px;   
}

.navbar .searchbar .button1:hover{
    background-color: #d4d4d4;
}

.navbar .searchbar .button1 i{
    padding-left: 32px;
    font-size: 12px;
}

.dropcontent{
    display: none;
    position: absolute;
    left: 170px;
    top: 39px;
    padding: 10px 0px;
    background-color: #ffffff;
    min-width: 160px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 1;
}

.dropdown:hover .dropcontent{
    display: block;
}

.dropcontent a{
  color: black;
  padding: 5px 18px;
  display: block;
  font-size: 16px;
  font-weight: 600px;
  font-family: "Poppins", sans-serif;
}

.dropcontent a:hover{
    background-color: #dedede;
}

.navbar .searchbar .button2{
    background-color: #181818;
    color: white;
    padding: 10px 20px 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: -1px;
    left: 700px;
    transition: .3s;
}

.navbar .searchbar .button2:hover{
    background-color: white;
    color: black;
}

.navbar .searchbar input{
    padding: 9px 20px;
    width: 400px;
    font-size: 14px;
    font-weight: 600px;
    font-family: "Poppins", sans-serif;
    border: none;
    position: absolute;
    top: 0px;
    left: 260px;
}

.navbar .hotline{
    position: absolute;
    top: 0px;
    right: 224px;
}

.navbar .hotline h3{
    color: white;
    font-size: 18px;
    font-weight: light 300;
    font-family: "Quicksand", sans-serif;
}

.navbar .hotline p{
    color: white;
    font-size: 14px;
    font-weight: 400px;
    font-family: "Quicksand", sans-serif;
}

.navbar .icons{
    position: absolute;
    top: 0;
    right: 0;
}

.navbar .icons i{
    color: white;
    font-size: x-large;
    padding: 10px 5px;
    cursor: pointer;
    transition: .2s;
}

.navbar .icons i:hover{
    color: rgb(247, 0, 0);
}

.navbar .icons .loginhover:hover .logincontent{
    display: block;
}

.navbar .icons .loginhover{
    display: inline-block;
}

.navbar .icons .logincontent{
    display: none;
    position: absolute;
    top: 44px;
    left: -120px;
    background-color: white;
    width: 300px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar .icons .logincontent button{
    background-color: black;
    color: white;
    padding: 14px 94px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 6px;
    margin: 28px 35px 20px;
    cursor: pointer;
    transition: .3s;
}

.navbar .icons .logincontent button:hover{
    background-color: rgb(247, 0, 0);
}

.navbar .icons .logincontent p{
    color: rgb(0, 0, 0,0.5);
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.navbar .icons .logincontent a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-left: 114px;  
}

/* Navbar End */ 

/* Navbar End */ 

.banner{
    background-image: url(./images/sliderelectronic.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 600px;
}

.banner .banner-content{
    padding: 124px 0px;
    width: 510px;
}

.banner .banner-content h5{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgb(233, 81, 70);
}

.banner .banner-content h1{
    font-size: 72px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.banner .banner-content p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

.banner .banner-content a{
    background-color: #000000;
    color: white;
    padding: 16px 26px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    transition: .3s;
}

.banner .banner-content a:hover{
    background-color: white;
    color: black;
}

.banner .banner-content i{
    padding-left: 10px;
}

/* Banner End */ 

/* Deal Start */ 

.deal .deal-top{
    display: flex;
    padding: 40px 0px;
}

.deal .deal-top h1{
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.deal .deal-top .button-group{
    margin-left: 552px;
}

.deal .deal-top .button-group button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px 21px;
    border-radius: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: .2s;
}

.deal .deal-top .button-group button:hover{
    background-color: #FCEAEA;
    color: #E45497;
    border-color: #E45497;
}

.deal .deal-bottom{
    display: flex;
    column-gap: 20px;
}

.deal .deal-bottom .dealbox{
    background-color: #fbf6f600;
    width: 245px;
    height: 435px;
}

.deal .deal-bottom .dealbox .item{
    background-color: #e8e6e6fb;
    width: 245px;
    height: 310px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.deal .deal-bottom .item .overlay{
    width: 100%;
    height: 326px;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;   
    transition: .4s;
}

.deal .deal-bottom .item:hover .overlay{
    top: 0;
}

.deal .deal-bottom .item .overlay a{
    background-color: white;
    padding: 10px 48px;
    border-radius: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 30px;
    left: 28px;
    transition: .3s;
}

.deal .deal-bottom .item .overlayicon{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: absolute;
    top: 14px;
    right: 10px;
}

.deal .deal-bottom .item .overlay i{
    background-color: #f4f4f4;
    color: black;
    padding: 12px;
    font-size: 16px;
    border-radius: 50%;
    transition: .3s;
}

.deal .deal-bottom .item .overlay a:hover{
    background-color: black;
    color: white;
}

.deal .deal-bottom .item .overlay i:hover{
    background-color: black;
    color: white;
}

.deal .deal-bottom .dealbox .deal-content{
    background-color: #ffffff;
    width: 245px;
    height: 220px; 
}

.deal-content i{
    color: #F0A750;
    font-size: 15px;
    padding: 10px 0px;
}

.deal-content #gray{
    color: gainsboro;
}

.deal-content del{
    padding-right: 6px;
    color: #b7b7b7;
}

.deal-content p{
    display: inline-block;
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.deal-content span{
    color: #000000;
}

.deal-content #side{
    margin-left: 86px;
}

.deal-content h4{
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 32px;  
    cursor: pointer;
    transition: .3s;   
}

.deal-content h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;   
}

.deal-content h4:hover{
    color: red;
}
.item img{
    width: 100%;
    background-color: #e8e6e6;
    border-radius: 10px; 
}

/* Deal End */ 
/* Special Start */ 

.special{
    margin: 100px 0px;
}

.special .box{
    display: flex;
    column-gap: 36px;
}

.special .item{
    position: relative;
    background-color: #000000;
    width: 406px;
    height: 270px;
    border-radius: 11px;
}

.special .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
}

.special .item .overlay h1{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 34px 30px 18px;
}

.special .item .overlay p{
    width: 258px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding: 0px 30px 18px;
}

.special .item .overlay .Shop{
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 0px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.special .item .overlay .Shop:hover{
    color: rgb(255, 50, 50);
}

/* Special End */

/*Super Start*/ 

.super-sale{
    background-color: #fbc9c9;
    padding: 36px 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 44px;
}

.super-sale .sale{
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.super-sale .coupon{
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 3px dashed rgb(240, 121, 121);
    border-radius: 3px;
    padding: 3px 9px;
    margin: 0px 14px;
    color: #e71313;
    cursor: pointer;
}

.super-sale .discount{
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.super-sale .discover{
    background-color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 14px;
    padding: 10px 20px;  
    transition: .3s; 
}

.super-sale .discover:hover{
    background-color: white;
    color: black;
}

/*Super End*/  
/* Featured Start */ 

.featured{
    margin-bottom: 42px;
}

.featured .box{
    display: flex;
    column-gap: 36px;
}

.featured .products{
    width: 406px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.featured .products h2{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding-bottom: 2px;
}

.featured .products .item{
    width: 406px;
    display: flex;
    column-gap: 13px;
}

.featured .item img{
    width: 100%;
}

.featured .item .image{
    width: 27%;
    height: 146px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.featured .item p{
    position: absolute;
    top: 11px;
    left: 13px;
    background-color: #F03E3E;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;  
    padding: 2px 8px;
    border-radius: 20px;
}

.featured .item .content{
    width: 70%;
    border-radius: 10px;
    padding: 14px 0px;
    position: relative;
}

.featured .item .content h4{
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    color: #000000; 
    cursor: pointer; 
    transition: .3s;
}

.featured .item .content h4:hover{
    color: rgb(247, 0, 0);
}

.featured .item .content h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;   
}

.featured .item .content i{
    font-size: 15px;
    color: #F0A750;
    padding-top: 22px;
    padding-bottom: 9px;
}

.featured .item .content #gray{
    color: gainsboro;
}

.featured .item .content .shopicon i{
    position: absolute;
    right: 10px;
    bottom: 14px;
    background-color: #f4f4f4;
    color: black;
    padding: 13px;
    font-size: 20px;
    border-radius: 50%;
    transition: .3s;
}

.featured .item .content .shopicon i:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}
/* Featured End */ 
/* Features Start */ 

.features{
    padding: 48px 0px;   
    position: relative;
}

.features::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.features .box{
    display: flex;
    justify-content: space-between; 
}

.feature-item{
    width: 18%;
    text-align: center;
}

.feature-item i{
    font-size: 24px;
    margin-bottom: 12px;
}

.feature-item h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
    margin-bottom: 5px;
}

.feature-item p{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
    color: #555;
}

/* Features End */ 
/* Footer Start */ 

.footer{
    background-color: #222222;
    width: 100%;
    padding: 64px 0px;
}

.footer .box{
    display: flex;
    justify-content: space-between;  
}

.footer .content1{    
    width: 330px;
}

.footer .content2{     
    width: 180px;  
}

.footer .content3{      
    width: 220px; 
}

.footer .content4{
    width: 430px;   
}

.footer .content1 h2{
    color: rgb(45, 243, 197);
    font-size: 36px;
    font-weight: 700;
    font-family: "Caesar Dressing", system-ui;
    cursor: pointer;
    padding-bottom: 10px;
}

.footer .content1 span{
    color: rgb(255, 255, 255);
}

.footer .content1 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
}

.footer .content1 a{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 6px 0px 14px; 
    transition: .3s;
}

.footer .content1 a:hover{
    color: #F03E3E;
}

.footer .content1 #phone{
    padding-top: 8px;
    padding-bottom: 6px;
}

.footer .content1 i{
    margin-right: 10px;
    color: #ffffff;
}

.footer .content1 #arrow{
    margin-left: 4px;
}

.footer .content1 .social-icon i{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 8px;
    font-size: 20px;
}

.footer .content2 h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}

.footer .content2 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
    transition: .2s;
}

.footer .content2 p:hover{
    color: rgb(247, 0, 0);
}

.footer .content3 h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;   
    padding-bottom: 10px;
}

.footer .content3 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
    transition: .2s;
}

.footer .content3 p:hover{
    color: rgb(247, 0, 0);
}

.footer .content4 h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}

.footer .content4 p{
   color: #929292;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
}

.footer .content4 label{
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    cursor: pointer;
    
}

.footer .content4 label u{
    color: #fdfdfd;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
    padding: 4px 0px;
    transition: .4s;
}

.footer .content4 label u:hover{
    color: rgb(247, 0, 0);
}

.footer .content4 .input{
   display: block;
   margin: 14px 0px;
}

.footer .content4 #email{
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 80%;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: transparent;
    color: #929292;
    border: 1px solid white;
}

.footer .content4 button{
  padding: 20px 18px;
  border-radius: 18px;
  background-color: white;
  color: #000000;
  border: 1px solid white;
  transition: .3s; 
} 

.footer .content4 button:hover{
  background-color: transparent;
  color: #ffffff;
} 

/* Footer End */ 